<article class="article-lg">
  <div class="container textJustify">

    <div class="articleTitle text-center">
      <h2>About Us</h2>
    </div>


    <div class="row">

      <div class="col-12   col-sm-6   col-md-7   col-lg-5   col-xl-5    ">
        <strong>Dublin Plumber – Sidney Ryan </strong>is a City & Guilds Qualified Plumber and Pipefitter welder, having spent 5 years studying in DIT Linen Hall, Bolton Street, Dublin 1, where he received both his Junior and Senior City and Guilds Certification. He has worked in both the domestic and commercial industry for 40 years and is still a hands-on man in the company.

        <figure>
          <img src="..\assets\images\sid_van_720px_wide.jpg">
        </figure>
      </div>

      <div class="col-12   col-sm-6   col-md-5   col-lg-6 offset-lg-1   col-xl-6  offset-xl-1  ">



        <p>
          <strong>Dublin Plumber - Our Licensed Plumber Will Carry Out all Our Plumbing Services Including:</strong>
        </p>

        <div class="serivceDescription">
          <div id="servicesBulletPoints">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Leaking Taps</li>
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Kitchen Drain Unblocking</li>
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Toilets Not Filling Or Flushing</li>
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Under Sink Water Heater Installation</li>
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Airlocks Unblocked</li>
              <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Gas Line Repair/Replacement</li>
            </ul>
          </div>
        </div>



        <hr />

        <p>
          <strong>In addition to our commitment towards excellence, our advantages are:</strong>
        </p>

        <p>Dublin Plumber - As a well-established company, we also like our customers to know that we are fully covered by professional and public indemnity insurance. This is our guarantee to our customers. With The Dublin Plumber, you are always in safe hands.</p>

        <div class="row">

          <div class="col-12   col-sm-12   col-md-12   col-lg-6   col-xl-6    ">
            <div class="serivceDescription">
              <div id="servicesBulletPoints">
                <ul class="fa-ul" id="homepageAboutBullets">
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Uniformed, Licensed Plumbers</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> No Travel Charges</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Licensed and Insured</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Free Estimates</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12   col-sm-12   col-md-12     col-lg-5 offset-lg-1   col-xl-5 offset-xl-1 ">
            <img src="..\assets\images\rgi-compressor.png" id="rgi-logo">
          </div>

        </div>

      </div>

    </div>
  </div>

</article>
