<div class="container">

  <div class="article-sm margin-top">
    <h2>Heating Services Dublin</h2>


    <div class="serivceDescription">
      <div id="servicesBulletPoints">
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Sid’s Plumbing and Heating is a Registered SEAI Contractor which means that we are a Fully Insured and Our Customers can Avail of all Goverment Grants that are available at any time.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> We are (RGII) Registered Gas Installers.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Radiator replacement and TRVs (Thermostatic Radiator Valves) fitted.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Radiator balancing when some of them are Not Heating.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Gas leaks, repaired.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Gas lines, upgraded.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Hot Water Cylinders Replaced, Copper or Stainless Steel.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> We Supply And Fit Central Heating Pumps,and Valves</li>
        </ul>
      </div>
    </div>

    <div>
      <br/>
      <p>Our aim is to respond to your call as soon as it comes in so your issue does not escalate and become a serious problem.</p>

      <p><em>*If the heating service you require is not listed drop us an email or give us a call. There is little in Plumbing we have not done before!</em></p>
    </div>

  </div>
  <!--
  <article class="article-sm">

    <strong>For all of your Heating Services </strong><strong>Call Us </strong>

    <strong>Mob 086 6049361 Office 01-8043444</strong>
  </article>
    -->
</div>
<app-services-footer></app-services-footer>
