<div class="container justifyText margin-top">
  <article class="article-sm">
    <h2>Reliable Plumber in Swords </h2>
    <p><strong>(No call out charge)</strong></p>

    <div class="row">

      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

        <p>Emergency Plumber Swords <strong>Ph 086-6049361</strong>. Are you looking for a reliable plumber in Swords County Dublin, Malahide, Portmarknock, or Baskin ? Well a result of it, you have found Sid’s Plumbing, an innovative Dublin Plumbing and Heating company? In the 40 years, we have been in the industry we have advised our clients to be proactive instead of being reactive to a plumbing problem.</p>

        <p>If you are in the Swords area and experience a leaking Water Heater or Cylinder or even a Toilet Not Flushing or a Tank Overflow or Dripping, Give us a call.</p>

        <p>As a rule, a breakdown or a slowdown in water pressure may be an airlock, In addition, please view <a href="https://sidsplumbing.ie/plumbing-services/">(Click here to see what we do).</a> Here we recommend you call an experienced plumber before attempting to fix the problem yourself. Without the correct know-how and tools, your initial issue could escalate and cost you more down the line so call our Plumber in Swords,</p>
      </div>

      <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img src="..\assets\images\areas\swords-town-centre.jpg">
      </div>

    </div>
  </article>

  <article class="article-sm">
    <h3>Why Choose Us?</h3>

    <p>For more than 40 years, we have created a reputation for ourselves by undertaking efficient and timely repairs, which exceed beyond our customers’ expectations. Our Swords Plumbing team of highly-trained plumbers ensures that all repairs are done right with the best materials from our suppliers <a href="http://www.davies.ie/">Davies</a>. Our business is based on customers total satisfaction since we understand the need for effectiveness and immediacy as far as handling plumbing emergencies is concerned.</p>

    <p>We help our customers by phone to Identify the house valves. Particularly the mains shutoff valve which is turned (To the right). This is good to know particularly when facing a plumbing emergency because this goes a long way in protecting their property from extensive damage while the plumber is traveling to you. By virtue of being a trusted family plumber, our services are convenient, friendly, and affordable.</p>

    <p>When the emergency is fixed we can scheduled a follow-up phone call at a time that is convenient for you to ensure that the repaired plumbing system is properly functioning.</p>

    <p>To summarize, our friendly Plumbers in Swords are always on ready to handle any emergencies 24/7, including on weekends and holidays.</p>
  </article>

  look here:
  <ul>
    <li *ngFor="let area of areas">
      <div Markdown>
        <h3> <a routerLink="/areas/plumber-{{ area.fields.areaName | lowercase}}" routerLinkActive="active">Plumber {{ area.fields.areaName}} </a></h3>
      </div>
    </li>
  </ul>



</div>
