<div class="container justifyText margin-top">

  <article class="article-sm">

    <h2>Non-Emergency Plumbing Pricing</h2>

    <p>
      <a routerLink="/emergency-plumbing-prices" routerLinkActive="active">Click here for emergency rates</a>
    </p>

    <p>Our fixed hourly labour rates or part of are as follows <strong>(A minimum of one hour to include investigating the issue once at the premises ) </strong>Any Investigation and or diagnostic at the premises is classed as a labour charge.</p>

    <p><strong>Mon – Fri</strong></p>

    <p>8 am – 5 pm from €95.00</p>

    <p>After the first hour is worked charges are made every 15 minutes thereafter of €25.00.</p>

    <p><strong>Mon – Fri</strong></p>

    <p>5 pm – 12 am €120.00</p>

    <p>After the first hour is worked charges are made every 15 minutes thereafter of €30.00.</p>

    <p><strong>Sat-Sun</strong></p>

    <p>8 am – 5 pm €120.00</p>

    <p>After the first hour is worked charges are made every 15 minutes thereafter of €30.00.</p>

    <p><strong>Sat-Sun</strong></p>

    <p>5 pm –12 am €140.00</p>

    <p>After the first hour is worked charges are made every 15 minutes thereafter of €35.00.</p>

    <p><strong>Mon-</strong></p>

    <p>12 am – 8 pm €160.00</p>

    <p>After the first hour is worked charges are made every 15 minutes thereafter of €40.00.</p>

    <p><strong>All these prices are exclusive of vat @13.5%.</strong></p>

  </article>


    <article class="article-sm">

      <h2>Get A Free Estimate</h2>

      <p>We are more than happy to give advice on which solution is most suitable for your needs, depending on your Plumbing Services. Why not ask us to view your property and discuss the various options with you now. Our advice is free!</p>

      <p>Call us now on <a href="tel:086 6049361">086 6049361</a> or complete our contact form.</p>

    </article>

</div>



