.inlineBlockUl li {
  display: inline-block;
  margin-right: 10px;

}

.inlineBlockNavItem {
  border: 1px solid green;
  padding: 10px;

}

.inlineBlockNavItem:hover {
  border: 1px solid #007bff;
 
}


.inlineBlockNavItem h4:hover {
  color: #007bff;
}


