<div class="container margin-top">

  <article class="article-sm">
    <h2>Boiler Installation</h2>
    <p>
      All our gas and oil boilers are A rated. We will give you our expert advice on the best brands to choose. Phone us on <a href="tel:0866049361">0866049361 </a> for more information.
    </p>
  </article>

  <article class="article-sm">
    <h2>Gas Boiler Servicing</h2>


    <div class="serivceDescription">
      <div id="servicesBulletPoints">
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> We visually check the flue ways and terminal</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> We check the combustion air requirements</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A check of the working pressure at the meter and appliance</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Checking the gas rates for the appliance</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A gas tightness test</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Checking the standing pressures</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Checking the pilot injectors and seals</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Cleaning the fan and burner assembly</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A flue flow test</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A spillage test</li>
        </ul>
      </div>
    </div>
    
  </article>

  <article class="article-sm">

    <h2>Oil Boiler Servicing</h2>

    <div class="serivceDescription">
      <div id="servicesBulletPoints">
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A visual inspection to check for oil leaks from the tank and/or pipes and fittings is carried out by one of our team. Any signs of corrosion in the flue or any parts of the boiler and possible cracks in the firebox or target wall are all fixed. We ensure that the draft regulator can move freely also.</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> The oil boiler itself will need to be checked for the proper operation of the oil shut off valve and the flame failure device along with the draught stabilizer and any cracking in the burner refractory. The fuel filter and burner nozzle will need to be replaced and the spark electrodes, burner diffuser, flame photocell and air tube cleaned</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A combustion efficiency test</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> A thorough inspection of the entire heating system including thermostats and zone values is also carried out</li>
          <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> We offer a full boiler service and maintenance to include the water side of the system to make sure all the radiators are working. This includes a full carbon monoxide test using an Anton Analyser. We will provide a printed report of our findings for your convenience. (This deal applies to Gas and Oil Boilers only)</li>
        </ul>
      </div>
    </div>

  </article>

</div>
  <app-services-footer></app-services-footer>
