<article id="productIconsAndTitleContainer" class="centerText article-sm">
  <div class="container">
    <div class="row justifyText justify-content-center">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText" >
        <a routerLink="../services/plumbing-services-dublin" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg">
              <!--<img src="..\assets\images\services\tap.png" class="serviceImage">
      <svg><use xlink:href="#01_plywood_plt"></use></svg>-->
              <div><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></div>
            </div>
            <div class="productHeading centerText">
              Emergency Plumbing
            </div>
            <div class="serivceDescription">
              Need an Emergency Plumber in Dublin? Our emergency plumber services team is always on standby to receive inquiries. Our customer service team is cordial, attentive, organised and swift.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText">
        <a routerLink="../services/leak-detection" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <div><i class="fa fa-tint fa-5x" aria-hidden="true"></i></div>
              <!-- <img src="..\assets\images\services\tap.png" class="serviceImage">
  <svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Leak Detection
            </div>
            <div class="serivceDescription">
              Leak Detection Dublin - Call us now if you think you may have a hidden burst pipe or small leak in your home.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  centerText">
        <a routerLink="../services/heating-services" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <div><i class="fa fa-fire fa-5x" aria-hidden="true"></i></div>
              <!--<img src="..\assets\images\services\boiler.png" class="serviceImage">
  <svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Heating Services
            </div>
            <div class="serivceDescription">
              Sid’s Plumbing and Heating is a Registered SEAI Contractor which means that we are a Fully Insured and Our Customers can Avail of all Goverment Grants that are available at any time.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText ">
        <a routerLink="../services/plumbing-services-dublin" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <div><i class="fa fa-wrench fa-5x" aria-hidden="true"></i></div>
              <!--<img src="..\assets\images\services\tap.png" class="serviceImage">
  <svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Plumbing Services Dublin
            </div>
            <div class="serivceDescription">
              <div id="servicesBulletPoints">
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Kitchen Drain Unblocking</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Toilets Not Filling Or Flushing</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Under Sink Water Heater Installation</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Airlocks Unblocked</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Gas Line Repair/Replacement</li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  centerText">
        <a routerLink="../services/boiler-installation" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <div><i class="fa fa-thermometer-4 fa-5x" aria-hidden="true"></i></div>
              <!--<img src="..\assets\images\services\boiler.png" class="serviceImage">
  <svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Boiler Installation
            </div>
            <div class="serivceDescription">
              Boiler Installation. All our gas and oil boilers are A rated. We will give you our expert advice on the best brands to choose.
            </div>
          </div>
        </a>
      </div><!--/col-->

     
    </div><!--/Row-->

  </div><!--/Container-->
</article>
