


<article id="productIconsAndTitleContainer" class="centerText article-lg">
  <div class="container">
    <div class="row justifyText justify-content-center">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText anchorCol">
        <a>
          <div class="productSvgAndHeader">
            <div class="productSvg">
              <img src="..\assets\images\services\tap.png" class="serviceImage">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              24 Hour Emergency Plumbing - Is this needed?
            </div>
            <div class="serivceDescription">
              Need an Emergency Plumber in Dublin? Our emergency plumber services team is always on standby to receive inquiries calls 24/7 our customer service team is cordial, attentive, organized and swift.
            </div>
          </div>
        </a>lll
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText anchorCol">
        <a routerLink="../services/plumbing-services-dublin" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <img src="..\assets\images\services\tap.png" class="serviceImage">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Plumbing Services Dublin
            </div>
            <div class="serivceDescription">
              Get Over 40 Years Plumbing Experience. Our services include a full range of Plumbing and Heating services in North Dublin which we have been providing for over 40 years.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 anchorCol centerText">
        <a routerLink="../services/boiler-installation" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <img src="..\assets\images\services\boiler.png" class="serviceImage">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Boiler Installation
            </div>
            <div class="serivceDescription">
              Boiler Installation. All our gas and oil boilers are A rated. We will give you our expert advice on the best brands to choose.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 anchorCol centerText">
        <a routerLink="../services/heating-services" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <img src="..\assets\images\services\boiler.png" class="serviceImage">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Heating Services
            </div>
            <div class="serivceDescription">
              Sid’s Plumbing and Heating is a Registered SEAI Contractor which means that we are a Fully Insured and Our Customers can Avail of all Goverment Grants that are available at any time.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 anchorCol centerText">
        <a routerLink="../services/leak-detection" routerLinkActive="active">
          <div class="productSvgAndHeader">
            <div class="productSvg ">
              <img src="..\assets\images\services\tap.png" class="serviceImage">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
            </div>
            <div class="productHeading centerText">
              Leak Detection
            </div>
            <div class="serivceDescription">
              Need an Emergency Plumber in Dublin? Our emergency plumber services team is always on standby to receive inquiries calls 24/7 our customer service team is cordial, attentive, organized and swift.
            </div>
          </div>
        </a>
      </div><!--/col-->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 centerText">
        <a>
          <div class="productSvgAndHeader" id="miscServices">
            <div class="productSvg ">
              <!--<svg><use xlink:href="#01_plywood_plt"></use></svg>-->
              <img src="..\assets\images\services\tap.png" class="serviceImage">
            </div>
            <div class="productHeading centerText">
              Including:
            </div>
            <div class="serivceDescription">
              <div id="servicesBulletPoints">
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Kitchen Drain Unblocking</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Toilets Not Filling Or Flushing</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Under Sink Water Heater Installation</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Airlocks Unblocked</li>
                  <li><span class="fa-li"><i class="fa fa-check" aria-hidden="true"> </i></span> Gas Line Repair/Replacement</li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div><!--/col-->
    </div><!--/Row-->

  </div><!--/Container-->
</article>
