<div class="container margin-top" >
  <!--
     <a routerLink="/plumbing-services" routerLinkActive="active"><i class="fa fa-chevron-left fa-2x"></i></a>
    -->

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <app-services-sidebar></app-services-sidebar>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-10">

      <article class="article-sm">


        <figure>
          <img src="..\assets\images\services\man_with_wrench.jpg">
        </figure>

        <h2>Plumbing Services Dublin</h2>

        <p>Problems can appear at any time. Some of them are simple, others are very complex. But regardless of the situation, there can always be some issues and challenges along the way. From burst pipes to blocked sinks or WCs, all of these are things that our Plumbing Services Dublin can solve in no time.</p>

        <p>The best part about these services is that they are very reliable, fast and extremely efficient. This way you can obtain an incredible set of results and the experience will be very good all the time. We work closely with you to identify the issue and perform the right repairs as fast as possible. We know that it’s not going to be an easy thing to deal with, but we do have all the help and support you may need.</p>

        <p>Since our Plumbing Services Dublin use the best equipment on the market, we always make sure that the repairs are performed quickly and with the best possible attention to detail. It’s always important for us to ensure that you receive the ultimate set of results, so try to use that to your own advantage.</p>

        <p>By working with us, you receive the ultimate set of benefits and some of the best features on the market. Since we have more than 40 years of experience in the industry, you can rest assured that we have the expertise needed to help you with this. All you have to do is to get in touch with our team and we will be here to help. Our focus is on bringing the very best plumbing services Dublin, so just consider working with us and we will be here to help at all times. Avail this great opportunity and work with a team of experts in the industry!</p>

        <br />


        <div class="row">

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <h3>Professional Plumbing Service</h3>
            <ul>
              <li>Showers Electric and Manual Supplied and Fitted.</li>
              <li>Airlocks Unblocked in Pipes and Taps Cleared.</li>
              <li>We Fit Immersions in Cylinders.</li>
              <li>We Fit Ballcocks When the Attic Tank is Overflowing.</li>
              <li>We Replace Attic Tanks (all sizes).</li>
              <li>Toilets Not Filling We Repair or Replace the Ball Valves.</li>
              <li>Toilets Not flushing We Replace the Syphons.</li>
              <li>Domestic Water Pressure Pumps, Repaired or Replaced.</li>
              <li>We are Approved Stuart Turner Pump Installers.</li>
              <li>We Install New Stainless Steel and Copper Hot Water Cylinders (All sizes).</li>
              <li>Under Sink Hot Water Heaters Replaced.</li>
              <li>Washing Machines Fitted.</li>
              <li>Dishwashers Fitted.</li>
              <li>We Supply and Repair all types of Taps including Kitchen Taps.</li>
              <li>Garden taps supplied and Fitted.</li>
            </ul>
            <br />
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1  col-xl-5 offset-xl-1">
            <h3>Drains</h3>

            <ul>
              <li>Blocked Kitchen Sinks and Connecting Drain Pipes Cleared.</li>
              <li>Blocked Outdoor Drains Cleared.</li>
              <li>Blocked Toilets / WC Cleared.</li>
              <li>Blocked Sewer Pipes Cleared.</li>
            </ul>
          </div>

        </div>


      </article>

      <div class="row">
        <app-services-footer></app-services-footer>
      </div>
    </div>
  </div>

</div>


