<div id="quoteForm">
  <h2>Request a Quote</h2>
  <p>
    Get free estimates and quotations – Simply submit your job information in the form below. A member of our team will be in touch with you with quotes back for the required services.
  </p>

  <!-- Temporary fix-->
  <app-book-appointment></app-book-appointment>


      <!--

      <form  [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">


        <div class="form-group">
          <label for="fullname">Full Name *</label>
          <input type="text" class="form-control" name="Fullname" id="exampleFormControlInput1" placeholder="name@example.com">

          <label for="fullname">Full Name</label>
          <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">

        </div>
        <div class="form-group">
          <label for="email">Email Address *</label>
          <input type="email" class="form-control"  formControlName="email" name="email"  aria-describedby="emailHelp"   id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Phone Number *</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Tell us your requirements</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

      </form>

    FORM 2:




    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" formControlName="Comment" name="Comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
    </form>

        -->
</div>





