<div id="quoteForm">
  <h2>Request a Quote</h2>
  <p>
    Get free estimates and quotations – Simply submit your job information in the form below. A member of our team will be in touch with you with quotes back for the required services.
  </p>

  <!-- Temporary fix-->
  <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
    <div class="form-group">
      <label for="Fullname">Full Name</label>
      <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
    </div>
    <div class="form-group">
      <label for="Phone">Phone</label>
      <input type="number" class="form-control" name="Phone" aria-describedby="phone" placeholder="Phone number" formControlName="Phone">
      <small id="phone" >We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
      <small id="emailHelp" >We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea class="form-control" formControlName="Comment" placeholder="Enter comment text here" name="Comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
  </form>

</div>
