<div class="container margin-top">
  <article class="article-sm">

    <div class="row">
    
        <div *ngFor="let blogPost of blogPosts">
          <div Markdown>
            <h2>{{ blogPost.fields.blogPostTitle}}</h2>
          </div>
        </div>
   
    </div>


    <div class="row">
      <div class="col-12   col-sm-12   col-md-8   col-lg-6  col-xl-7">

        <div class="row justifyText justify-content-center">
          <ul>
            <li *ngFor="let blogPost of blogPosts">
              <div Markdown>
                {{ blogPost.fields.blogPostText}}
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-12   col-sm-12   col-md-4   col-lg-5 offset-lg-1    col-xl-4 offset-xl-1  ">
        <ul>
          <li *ngFor="let blogPost of blogPosts">
            <!--asset.fields.file.url;  sids-plumbing-leaking-tap.jpg-->
            <img src="{{ blogPost.fields.blogPostImage.fields.file.url }}" id="leaking-tap" class="centerImage">
          </li>
        </ul>
      </div>

    </div>

  </article>
</div>
