<div class="container margin-top">
  <article class="article-sm">

    <h2>Emergency Plumbing Pricing</h2>

    <p>
      <a routerLink="/non-emergency-plumbing-prices" routerLinkActive="active">Click here for non-emergency rates</a>
    </p>

    <p>
      <strong>No Call Out Charge. Phone Sid now on <a href="tel:0866049361">086 6049361</a></strong>
    </p>

    <p>If your locality is not linked below please feel free to contact us if you are based in any part of North Dublin.</p>

    <p>What makes us different from most of our competition is that:</p>

    <p>1. We do not charge a call out fee.</p>

    <p>2. We accept both Credit and Debit Cards</p>

    <p>3, We are just a phone call away any time.</p>

  </article>


  <article class="article-sm">

    <h3>Emergency Plumbing Pricing</h3>
    <br />

    <p><strong>Mon – Fri</strong></p>

    <p>Our fixed hourly labour rates or part of are as follows <strong>(A minimum of one hour to include investigating the issue once at the premises ) </strong></p>

    <p>Any Investigation and or diagnostic at the premises is classed as a labour charge</p>

    <p>
      8 am – 5 pm €105.00<br>
      After the first hour is worked charges are made every 15 minutes thereafter of €25.00.
    </p>

    <p>
      <strong>Mon – Fri</strong><br>
      5 pm – 12 am €120.00<br>
      After the first hour is worked charges are made every 15 minutes thereafter of €30.00.
    </p>

    <p>
      <strong>Sat-Sun</strong><br>
      8 am – 5 pm €120.00<br>
      After the first hour is worked charges are made every 15 minutes thereafter of €30.00.
    </p>

    <p><strong>Sat-Sun</strong></p>

    <p>
      5 pm – 12 am €140.00<br>
      After the first hour is worked charges are made every 15 minutes thereafter of €35.00.
    </p>

    <p>
      <strong>Mon-Sun</strong><br>
      12 am – 8 pm €160.00<br>
      After the first hour is worked charges are made every 15 minutes thereafter of €40.00.
    </p>

    <p><strong>All these prices are exclusive of vat @13.5%</strong></p>

    <p>Emergency Plumbing Service</p>

  </article>


  <article class="article-sm">

    <h2>Get A Free Estimate</h2>

    <p>We are more than happy to give advice on which solution is most suitable for your needs, depending on your Plumbing Services. Why not ask us to view your property and discuss the various options with you now. Our advice is free!</p>

    <p>Call us now on <a href="tel:086 6049361">086 6049361</a> or complete our contact form.</p>

  </article>

</div>


