#reviews {
 
}

.reviewEntry {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #007abf;
}

.reviewMainText {
  text-align: justify;
}

.reviewName {
  color: #006199;
}



h5 {
  color: #006199;
  font-size: 1.2em ;
  padding-top: 10px;
}


#homePage {
  margin-left: 0px;
  margin-right: 0px;
}
/*   Jumbotron   */
#homePageJumbotron {
  background-color: #007abf;
  color: white;
  padding-top: 15px;
}

#homePageJumbotronText {
  padding-bottom: 40px;
  padding-left: 40px;
}

@media only screen and (max-width: 540px) {
  #homePageJumbotronText {
    padding-left: 20px;
  }
}


#adMainMessage {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left; /*bootstrap override*/
}

@media only screen and (max-width: 479px) {

  #adMainMessage {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 1.2em;
    //text-align: right; /*bootstrap override*/
  }
  //   #adFooterMessage, #adSubMessage {
  //   display: none;
  //}
}



#adSubMessage {
  font-size: 1.8em;
  text-align: left; /*bootstrap override*/
}



#jumbotronBulletPoints {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: left;
}

.fa-check {
  padding-right: 8px;
}


@media only screen and (min-width: 480px) {

  #jumbotronBulletPoints {
    font-size: 1.2em;
  }
}
/*----/Jumbotron */
#routerContainer {
}

#welcomeAndContactForm {
  background-color: #f5f5f5;
}

#welcomeText {
  text-align: justify;
  padding-bottom: 20px;
}
/*--- Quote Form*/
#quoteForm {
  border: 1px solid #ced4da;
  background-color: white;
  padding: 20px;
}
/*--- /Quote Form*/
#referrals {
  padding-bottom: 80px;
}
/*--Services*/
serviceImage {
  background-color: white;
}

.googleMap {
  margin: auto;
  width: 600px;
}
