
  <div id="homePage">

    <div id="homePageJumbotron" class="row">
      <div class="container">
        <div class="row justify-content-center">
          <!--<div class="row ">
          <div id="carousel-images">
            <a href="mailto:sidsplumbing@gmail.com">

              <img src="..\assets\images\homepage.jpg">
              <div class="carousel-caption">

                <div id="adSubMessage">
                  Contact our Friendly Team of
                </div>
                <div id="adMainMessage">
                  Plumbing Professionals
                </div>
                <div id="homepageImageBulletPoints">
                  <div><i class="fa fa-check" aria-hidden="true"></i> 24 Hour Emergency Service</div>
                  <div><i class="fa fa-check" aria-hidden="true"></i> Upfront, Flat Rate Pricing</div>
                  <div><i class="fa fa-check" aria-hidden="true"></i> Courteous, Uniformed Professionals</div>
                  <div><i class="fa fa-check" aria-hidden="true"></i> Serving all of Dublin</div>
                </div>
              </div>
              <div id="adFooterMessage">
                Contact us >
              </div>

            </a>
          </div>

        </div>-->
          <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-7">
            <div id="homePageJumbotronText">
              <div id="adSubMessage">
                Contact our Friendly Team of
              </div>
              <div id="adMainMessage">
                Plumbing Professionals
              </div>
              <div id="jumbotronBulletPoints">
                <div><i class="fa fa-check" aria-hidden="true"> </i> 24 Hour Emergency Service</div>
                <div><i class="fa fa-check" aria-hidden="true"> </i> Upfront, Flat Rate Pricing</div>
                <div><i class="fa fa-check" aria-hidden="true"> </i> Courteous, Uniformed &nbsp;Professionals</div>
                <div><i class="fa fa-check" aria-hidden="true"> </i> Serving all of Dublin</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 ">
            <img src="..\assets\images\sid_no_background_small.png" id="sidNoBackgroundSmall">
          </div>


        </div><!-- /homePageJumbotron-->
      </div>
    </div>

    <!---Welcome text & Contact form-->
    <article id="welcomeAndContactForm" class="row article-lg">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12   col-sm-12   col-md-7   col-lg-6  col-xl-6">
            <h2>Emergency Plumber Dublin</h2>
            <div id="welcomeText">
              <p>
                Emergency Plumber Dublin - We provide top class repairs and installations carried out by our fully qualified plumbers and all our work is fully guaranteed giving you above all complete peace of mind. Leaks including drips and bursts can happen at any time and the damage caused can be devastating, that is why our Dublin Plumbers provide a fast & efficient emergency plumber service 24 hours a day, 7 days a week.
              </p>
              <p>
                We are a trusted family plumber, these services are convenient, friendly, and affordable, Don’t hesitate and call our friendly Emergency Plumber Dublin is always on ready to handle any emergencies 24/7. Our prompt fixing of any disrepair on your plumbing system can save you a lot of money and heartache. Furthermore, our emergency plumbing services are structured to offer lasting solutions for urgent plumbing needs.
              </p>
              <p>
                By working with us, you receive the ultimate set of benefits and some of the best features on the market. Since we have more than 40 years of experience in the industry, you can rest assured that we have the expertise needed to help you with this. All you have to do is to get in touch with our team and we will be here to help. Our focus is on bringing the very best plumbing service in Dublin, so just consider working with us and we will be here to help at all times. Avail this great opportunity and work with a team of experts in the industry! Sid’s Plumbing Plumbers
              </p>
            </div>
          </div>


          <div id="quoteForm" class="col-12   col-sm-12   col-md-4 offset-md-1   col-lg-5 offset-lg-1   col-xl-5 offset-xl-1">
            <form>
              <h2>Request a Quote</h2>
              <p>
                Get free estimates and quotations – Simply submit your job information in the form below. A member of our team will be in touch with you with quotes back for the required services.
              </p>
              <div class="form-group">
                <label for="exampleFormControlInput1">Full Name *</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email Address *</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Phone Number *</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Tell us your requirements</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>

        </div>
      </div><!---/ Welcome text & Contact form-->
    </article><!--/ <div class="container-fluid">-->

    <app-services-main></app-services-main>

    <article id="referrals" class="article-lg">

      <div class="container">
        <h2 class="text-center articleTitle">What Our Clients Say</h2>

        <div class="card col-md-12 mt-2">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
            <div class="w-100 carousel-inner mb-4" role="listbox">

              <div class="carousel-item active">

                <div class="row">

                  <div class="col-md-6 col-12">
                    <div class="carousel-caption">
                      <div class="align-items-start">
                        <p>"Sid was very fast and efficient. We are happy with the job done as our issues where all solved."</p>
                        <div><h3>Jacinta Cummins</h3></div>
                        <div>Finglas</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="carousel-caption">
                      <div class="align-items-start">
                        <p>"I found Sidney very efficent. The job was done within two days to my complete satisfaction. Thank you."</p>
                        <div><h3>Frank Murphy</h3></div>
                        <div>Dublin</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="carousel-item">

                <div class="row">

                  <div class="col-md-6 col-12">
                    <div class="carousel-caption">
                      <div class="align-items-start">
                        <p>"Thank you so much Sid for sorting out our heating problems. I will definitely be recommending you to friends and family. Super job!"</p>
                        <div><h3>Carol Sheridan</h3></div>
                        <div>Dublin</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="carousel-caption">

                      <div class="align-items-start">
                        <p>"Very satisfied with the work done. Flexible, professional and friendly."</p>
                        <div><h3>Greg Stevenson</h3></div>
                        <div>Portobello</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <a class="carousel-control-prev  text-decoration-none" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next  text-decoration-none" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
              <span class="sr-only">Next</span>
            </a>




          </div>
        </div>
      </div>

    </article>

    <article id="callUsBanner" class="centerText article-lg">
      <div>
        <p>If you have any emergency plumbing need, simply call our 24 hour emergency plumbing</p>
        <p class="em1-2">Quick and Reliable Repair of Emergency leaks & Burst Pipes</p>
        <p class="em1-4"> 086 604 9361</p>
      </div>
    </article>

    <article class="article-lg">
      <div class="container">
        <!--/ Contains the size of the map-->

        <div class="articleTitle text-center" id="findUs">
          <h2>Find Us</h2>
        </div>


        <div class="googleMap">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.1273073245507!2d-6.239195748850497!3d53.448310479902325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48671233aa868d7d%3A0xff101b0a845c0334!2sSids%20Plumbing%20Swords%20Dublin!5e0!3m2!1sen!2sie!4v1603025361989!5m2!1sen!2sie" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>

      </div>

    </article>

  </div>
