<article class="centerText article-lg" id="servicesPageHeader">
  <div>
    <div class="articleTitle">
      <h2>Services</h2>
    </div>
    <p class="em1-2">Over 40 Years of Plumbing Experience</p>
    <p>
      Our plumbing services include a full range of Plumbing and Heating services for North side of Dublin, which we have been providing for over 40 years.
    </p>
    <p>
      NO CALL OUT CHARGE
    </p>
    <p>
      If you have a Plumbing or Heating related emergency call our 24-hour emergency service today on <a href="tel:+353866049361"> 086&nbsp;604&nbsp;9361</a>. We will always strive to make time for you.
    </p>
  </div>
</article>

  <app-services-main></app-services-main>

  <div class="container">
    <app-services-footer></app-services-footer>
  </div>
